/* Import Pywal colors */
@import "~/.cache/wal/colors-waybar.css";

/* Main window */
#window {
    background-color: @background;
    border-radius: 0;
    padding: 20px;
}

/* All buttons */
button {
    background-color: @color0;
    border-radius: 0px;
    color: @foreground;
    font-size: 16px;
    padding: 15px;
    margin: 5px;
    transition: all 0.3s ease;
}

/* Button with a specific icon */
#poweroff {
    background-color: @color1;
}

#reboot {
    background-color: @color4;
}

#suspend {
    background-color: @color5;
}

#lock {
    background-color: @color6;
}

/* Hover and focus effect */
button:hover,
button:focus {
    border-radius: 50%; /* Makes it a circle */
    background-color: @color4;
    color: @foreground;
}

/* Optional: change the icon's color */
button:hover label {
    color: @foreground;
}
